services:
  ohairganic-api:
    container_name: ohairganic-api
    image: ${REGISTRY}/ohairganic-api:latest
    restart: always
    build:
      context: .
      dockerfile: OHairGanic.API/Dockerfile
      cache_from:
        - type=local,src=/tmp/.buildx-cache
    ports:
      - "${API_PORT}:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT:-Development}"
      ASPNETCORE_URLS: "http://0.0.0.0:8080"
      ConnectionStrings__Default: "Server=ohairganic-database,1433;Database=OHairGanicDB;User Id=${DB_USER};Password=${SA_PASSWORD};Encrypt=True;TrustServerCertificate=True;Connect Timeout=30;ConnectRetryCount=3;ConnectRetryInterval=5;"
    depends_on:
      - ohairganic-database
    networks:
      - ohairganic-application

  ohairganic-database:
    container_name: ohairganic-database
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${SA_PASSWORD}
      MSSQL_DB: "OHairGanicDB"
      TZ: "Asia/Ho_Chi_Minh"
    ports:
      - "${DB_HOST_PORT}:1433"
    networks:
      - ohairganic-application
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data:
    driver: local

networks:
  ohairganic-application:
    name: ohairganic-application
