name: Docker Build and Deploy
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-image:
    name: Build API Image
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    env:
      API_PORT: ${{ secrets.API_PORT }}
      DB_HOST_PORT: ${{ secrets.DB_HOST_PORT }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      SA_PASSWORD: ${{ secrets.SA_PASSWORD }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Cache Docker layers
      uses: actions/cache@v4
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Lowercase repository name
      run: |
        REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
        echo "REGISTRY=ghcr.io/$REPO_LOWER" >> $GITHUB_ENV

    - name: Set TAG
      id: tag
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Build and push
      run: |
        export DOCKER_BUILDKIT=1
        export COMPOSE_DOCKER_CLI_BUILD=1
        export BUILDKIT_CACHE_MOUNT_NS=buildkit-cache
        docker compose -f docker-compose.yaml build --build-arg BUILDKIT_INLINE_CACHE=1 ohairganic-api
        docker compose -f docker-compose.yaml push ohairganic-api

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache || true

  deploy-server:
    defaults:
      run:
        shell: powershell
    name: Deploy Server
    needs: build-image
    runs-on: self-hosted
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    env:
      API_PORT: ${{ secrets.API_PORT }}
      DB_HOST_PORT: ${{ secrets.DB_HOST_PORT }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      SA_PASSWORD: ${{ secrets.SA_PASSWORD }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Lowercase repository name
      run: |
        $repoLower = "${{ github.repository }}".ToLower()
        "REGISTRY=ghcr.io/$repoLower" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Pull latest image
      run: |
        docker compose -f docker-compose.yaml -p ohairganic_application pull

    - name: Deploy image
      run: |
        docker compose -f docker-compose.yaml -p ohairganic_application up -d

    - name: Cleanup old images
      run: docker image prune -a -f
